<h1>All Users</h1>

<% if flash[:delete_success] %>
	<%= flash[:delete_success] %>
<% end %>

<% if flash[:delete_error] %>
	<% if flash[:delete_error].each do |error| %>
			<div><%= error %></div>
		<% end %>
	<% end %>
<% end %>

<a href="/users/new">Enter a New User</a>
<table class='table table-striped'>
	<tr>	
		<td>First Name</td>
		<td>Last Name</td>
		<td>Email</td>
		<td>Actions</td>
	</tr>
	<% @users.each do |one_user| %>
	<tr>
		<td><%= one_user.first_name %></td>
		<td><%= one_user.last_name %></td>
		<td><%= one_user.email %></td>
		<td>
			<a class="btn btn-success" href="/users/<%= one_user.id %>">Show</a>
			<a class="btn btn-warning" href="/users/<%= one_user.id %>/edit">Edit</a>
			<form action="/users/<%= one_user.id %>" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="_method" type="hidden" value="delete">
				<input type="submit" class="btn btn-danger" value="Delete">
			</form>
			<!--
			Or can be done but bootstrap does not work:
			%= button_to "delete",{
					:controller 	=> :users,
      				:action 		=> 'destroy',
      				:id 			=> one_user.id
      			}, {
      				:method 		=> :delete,
      			    :class 			=> ""
      			}
      		%
      		-->
		</td>
	</tr>
	<% end %>
</table>